In [41]:
import pandas as pd
import geopandas as gpd
import geopy

In [42]:
from geopy.geocoders import Nominatim

geolocator = Nominatim(user_agent="nyu_urbanspatialanalytics")

location = geolocator.geocode("FAIRMOUNT AVE, JERSEY CITY, NJ")
location

Location(Fairmount Avenue, Bergen, Jersey City, Hudson County, New Jersey, 07306, United States, (40.7262696, -74.0731213, 0.0))

In [43]:
location = geolocator.geocode("FAIRMOUNT AVE, JERSEY CITY, NJ & BERGEN AVE, JERSEY CITY, NJ")
location

Location(Fairmount Avenue at Bergen Avenue, Fairmount Avenue, Bergen, Jersey City, Hudson County, New Jersey, 07304, United States, (40.7245054, -74.0693759, 0.0))

# Accidents

Columns:
```python
['id', 'county_name', 'municipality_name', 'crash_date', 'intersection', 'crash_location', 'location_direction',
'sri_std_rte_identifier', 'milepost', 'distance_to_cross_street', 'unit_of_measurement', 'cross_street_name', 
 'latitude', 'longitude']
```

- Filter `municipality_name` to `JERSEY CITY`
- Add `state` col `NJ`
- Negate `longitude`
- Use `latitude` and `longitude` whenever possible (very low)

## Geocoding Options

1. Use `crash_location` when street address provided
1. Use `crash_location` and `cross_street_name` to find intersections
1. Use `crash_location` alongside `milepost`, `location_direction`
1. Use `crash_location` alongside `distance_to_cross_street`, `cross_street_name`

In [44]:
data = pd.read_csv("data/2020Accidents.csv")

cols = []
for i,c in enumerate(data.columns):
    record = {"name": c}
    record["type"] = data.dtypes[i]
    record["count"] = data[c].count()
    record["filled_pct"] = round(100*record["count"]/data.shape[0],2)
    record["nunique"] = data[c].nunique()
    non_nulls = data.loc[~data[c].isnull(),c].drop_duplicates()
    non_nulls_n = len(non_nulls)
    if non_nulls_n:
        record["sample"] = non_nulls.sample(n=min(5,non_nulls_n)).tolist()
    else:
        record["sample"] = []
    cols.append(record)
pd.DataFrame(cols)

,name,type,count,filled_pct,nunique,sample
0,Unnamed: 0,int64,13102,100.00,13102,"[4721, 2708, 7495, 5494, 10187]"
1,id,object,13101,99.99,13101,"[2020090620-012277, 2020090620-017966, 2020090..."
2,county_name,object,13102,100.00,4,"[HUDSON, 8063, 3043, 1014]"
3,municipality_name,object,13099,99.98,12,"[HOBOKEN CITY, HARRISON TOWN, UNION CITY, KEAR..."
4,crash_date,object,13099,99.98,366,"[2020-03-26, 2020-10-15, 2020-03-17, 2020-03-1..."
5,crash_day_of_week,object,13099,99.98,7,"[TH, TU, SA, WE, FR]"
6,crash_time,float64,13060,99.68,1414,"[634.0, 218.0, 1011.0, 1446.0, 1739.0]"
7,police_dept_code,float64,13099,99.98,5,"[5.0, 4.0, 99.0, 2.0, 1.0]"
8,police_department,object,13099,99.98,24,"[HIGHTSTOWN PD, EAST RUTHERFORD PD, GUTTENBERG..."
9,police_station,object,9638,73.56,1171,"[3715 HQ, 20-007132, 20-125860, 20.055200, 38T..."
10,total_killed,float64,13099,99.98,2,"[1.0, 0.0]"
11,total_injured,float64,13099,99.98,10,"[10.0, 4.0, 6.0, 3.0, 5.0]"
12,pedestrians_killed,float64,13099,99.98,2,"[1.0, 0.0]"
13,pedestrians_injured,float64,13099,99.98,4,"[3.0, 1.0, 0.0, 2.0]"
14,severity,object,13099,99.98,3,"[F, P, I]"
15,intersection,object,13099,99.98,3,"[B, R, I]"
16,alcohol_involved,object,13099,99.98,2,"[N, Y]"
17,hazmat_involved,object,13099,99.98,2,"[N, Y]"
18,crash_type_code,float64,13088,99.89,18,"[1.0, 5.0, 9.0, 12.0, 13.0]"
19,total_vehicles_involved,float64,13099,99.98,9,"[5.0, 2.0, 6.0, 3.0, 0.0]"
20,crash_location,object,13099,99.98,1415,"[NEWPORT MALL PARKING LOT, PARKING LOT P 3 BUD..."
21,location_direction,object,10434,79.64,4,"[W, S, N, E]"
22,route,float64,4923,37.57,38,"[673.0, 440.0, 683.0, 679.0, 638.0]"
23,route_suffix,object,294,2.24,6,"[Z, W, U, 2, 1]"
24,sri_std_rte_identifier,object,11702,89.31,988,"[09051053__, 09071071__, 09061555__, 09081183_..."
25,milepost,float64,11764,89.79,1266,"[0.54, 30.15, 57.0, 60.28, 67.55]"
26,road_system,float64,13099,99.98,11,"[10.0, 9.0, 6.0, 4.0, 5.0]"
27,road_character,float64,0,0.00,0,[]
28,road_horizontal_alignment,float64,13035,99.49,4,"[3.0, 2.0, 0.0, 1.0]"
29,road_grade,float64,12971,99.00,6,"[6.0, 0.0, 8.0, 7.0, 5.0]"
30,road_surface_type,float64,13071,99.76,7,"[1.0, 2.0, 4.0, 0.0, 3.0]"
31,surface_condition,float64,12988,99.13,11,"[3.0, 7.0, 0.0, 99.0, 4.0]"
32,light_condition,float64,12972,99.01,8,"[6.0, 2.0, 0.0, 4.0, 3.0]"
33,environmental_condition,float64,13020,99.37,11,"[6.0, 5.0, 10.0, 99.0, 4.0]"
34,road_divided_by,float64,12912,98.55,7,"[4.0, 1.0, 2.0, 99.0, 3.0]"
35,temporary_traffic_control_zone,float64,11963,91.31,6,"[0.0, 5.0, 1.0, 2.0, 3.0]"
36,distance_to_cross_street,float64,5091,38.86,178,"[1680.0, 282.0, 412.0, 250.0, 242.0]"
37,unit_of_measurement,object,9299,70.97,3,"[FE, AT, MI]"
38,directn_from_cross_street,object,5964,45.52,4,"[W, E, S, N]"
39,cross_street_name,object,11237,85.77,1675,"[SUMMIT AVE OVERPASS, NESBITT ST, LAMP POST 15..."
40,is_ramp,object,94,0.72,2,"[False, True]"
41,ramp_tofrom_route_name,object,100,0.76,62,"[JFK BLVD, HARMON MDW BLVD, BAYONNE CROSSING W..."
42,ramp_tofrom_route_direction,object,76,0.58,4,"[NB, WB, SB, EB]"
43,posted_speed,float64,12105,92.39,25,"[20.0, 75.0, 5.0, 65.0, 23.0]"
44,posted_speed_cross_street,float64,8714,66.51,19,"[15.0, 30.0, 50.0, 40.0, 55.0]"
45,first_harmful_event,float64,12374,94.44,40,"[58.0, 9.0, 0.0, 12.0, 62.0]"
46,latitude,float64,1399,10.68,1065,"[40.8402, 40.8043, 40.74509, 40.71381, 40.69786]"
47,longitude,float64,1399,10.68,1079,"[74.073, 74.06306, 74.05892, 74.10951, 74.100004]"
48,cell_phone_in_use_flag,object,13099,99.98,2,"[N, Y]"
49,other_property_damage,object,720,5.50,698,[PEDESTRIAN TRAFFIC SIGNAL LOCATED N/E CORNER ...
50,reporting_badge_no,object,12099,92.34,1268,"[2836, S-36, 2203, 8343, 2593]"

# Pedestrians

Columns:
```python
['id', 'is_bycyclist']
```

- Filter `is_bycyclist` == "Y"

In [34]:
data = pd.read_csv("data/2020Pedestrians.csv")

cols = []
for i,c in enumerate(data.columns):
    record = {"name": c}
    record["type"] = data.dtypes[i]
    record["count"] = data[c].count()
    record["filled_pct"] = round(100*record["count"]/data.shape[0],2)
    record["nunique"] = data[c].nunique()
    non_nulls = data.loc[~data[c].isnull(),c].drop_duplicates()
    non_nulls_n = len(non_nulls)
    if non_nulls_n:
        record["sample"] = non_nulls.sample(n=min(5,non_nulls_n)).tolist()
    else:
        record["sample"] = []
    cols.append(record)
pd.DataFrame(cols)

,name,type,count,filled_pct,nunique,sample
0,Unnamed: 0,int64,5458,100.00,5458,"[5216, 1594, 3970, 1058, 2113]"
1,id,object,5458,100.00,5086,"[202014052020-07041, 2020070520-0052084, 20200..."
2,pedestrian_number,int64,5458,100.00,9,"[61, 5, 32, 3, 31]"
3,physical_condition,float64,4630,84.83,6,"[4.0, 0.0, 5.0, 3.0, 2.0]"
4,address_city,object,4910,89.96,732,"[PENNSVILLE, LITTLE SILVER, OCEAN TOWNSHIP, MO..."
5,address_state,object,4920,90.14,25,"[NH, GA, MD, SC, DE]"
6,address_zip,float64,4768,87.36,664,"[8619.0, 7010.0, 7747.0, 8536.0, 8088.0]"
7,date_of_birth,object,4545,83.27,4130,"[2001-07-31, 1975-10-21, 2006-10-09, 1965-11-1..."
8,age,object,4926,90.25,111,"[37, 103, 72, 50, 2]"
9,sex,object,5144,94.25,2,"[F, M]"
10,alcohol_test_given,object,2826,51.78,3,"[N, Y, R]"
11,alcohol_test_type,object,44,0.81,3,"[BL, UR, BR]"
12,alcohol_test_results,float64,22,0.40,8,"[0.27, 0.25, 0.01, 0.0, 0.07]"
13,charge_1,object,97,1.78,63,"[FAILURE TO STOP OR YIELD: 39:?, 39:4-10.1A, 3..."
14,summons_1,object,91,1.67,90,"[0502-B-338454, E20001419, CROSSING ROADWAY:SI..."
15,charge_2,object,71,1.30,44,"[39:4-90, 39:4-14.1J, 39:4-33 FAILURE TO USE C..."
16,summons_2,object,66,1.21,65,"[E20005043, E20012314, E20-000460, K268648, MT..."
17,charge_3,object,22,0.40,21,"[39:4-14.1, 39:4-33, 39:4-10.1, 39:4-32 PEDEST..."
18,summons_3,object,19,0.35,19,"[E21, 0229E20000848, E20006715, E20005044, 210..."
19,charge_4,object,12,0.22,11,"[39:3-40, 39:4-129A, 39:3-29B, PEDESTRIAN - IM..."
20,summons_4,object,12,0.22,12,"[E20013214, 1506-T-164490, E20005045, E2100008..."
21,multi_charge_flag,float64,0,0.00,0,[]
22,traffic_controls,float64,3912,71.67,16,"[14.0, 7.0, 1.0, 0.0, 5.0]"
23,contributing_circumstances_1,float64,4537,83.13,42,"[54.0, 99.0, 51.0, 56.0, 33.0]"
24,contributing_circumstances_2,float64,1077,19.73,37,"[32.0, 78.0, 29.0, 71.0, 4.0]"
25,direction_of_travel,float64,3548,65.01,5,"[0.0, 2.0, 3.0, 1.0, 4.0]"
26,precrash_action,float64,4626,84.76,36,"[6.0, 41.0, 31.0, 19.0, 33.0]"
27,location_of_most_severe_injury,float64,4319,79.13,13,"[3.0, 7.0, 12.0, 1.0, 4.0]"
28,type_of_most_severe_phys_injury,float64,4261,78.07,9,"[8.0, 5.0, 6.0, 0.0, 7.0]"
29,refused_medical_attention,float64,4303,78.84,3,"[2.0, 1.0, 0.0]"
30,safety_equipment_used,float64,1648,30.19,12,"[7.0, 9.0, 12.0, 5.0, 6.0]"
31,hospital_code,float64,2308,42.29,115,"[5302.0, 901.0, 5905.0, 7005.0, 6401.0]"
32,physical_status_1,float64,4237,77.63,10,"[7.0, 4.0, 8.0, 1.0, 5.0]"
33,physical_status_2,float64,61,1.12,8,"[99.0, 4.0, 3.0, 0.0, 2.0]"
34,is_bycyclist,object,1947,35.67,1,[Y]
35,is_other,object,3,0.05,1,[Y]

# Drivers

In [37]:
data = pd.read_csv("data/2020Drivers.csv")

cols = []
for i,c in enumerate(data.columns):
    record = {"name": c}
    record["type"] = data.dtypes[i]
    record["count"] = data[c].count()
    record["filled_pct"] = round(100*record["count"]/data.shape[0],2)
    record["nunique"] = data[c].nunique()
    non_nulls = data.loc[~data[c].isnull(),c].drop_duplicates()
    non_nulls_n = len(non_nulls)
    if non_nulls_n:
        record["sample"] = non_nulls.sample(n=min(5,non_nulls_n)).tolist()
    else:
        record["sample"] = []
    cols.append(record)
pd.DataFrame(cols)

,name,type,count,filled_pct,nunique,sample
0,Unnamed: 0,int64,25854,100.00,25854,"[21865, 2934, 21773, 6704, 11429]"
1,id,object,25854,100.00,13097,"[2020090620-006483, 2020090820-088549, 2020090..."
2,vehicle_number,int64,25854,100.00,11,"[1, 3, 2, 5, 8]"
3,driver_city,object,19458,75.26,1690,"[POMONA, GREENWOOD LAKE, TURNERSVILLE, WASHING..."
4,driver_state,object,19482,75.35,50,"[AZ, RI, AK, NH, CA]"
5,driver_zip_code,float64,19374,74.94,1858,"[80236.0, 45014.0, 8721.0, 14850.0, 1108.0]"
6,driver_license_state,object,19015,73.55,52,"[NH, NM, OK, ON, KY]"
7,driver_dob,object,17791,68.81,11409,"[1981-05-06, 1994-03-23, 1976-06-15, 1978-05-2..."
8,driver_sex,object,19418,75.11,2,"[M, F]"
9,alcohol_test_given,object,15646,60.52,3,"[N, Y, R]"
10,alcohol_test_type,object,184,0.71,3,"[BL, UR, BR]"
11,alcohol_test_results,float64,103,0.40,28,"[0.18, 0.25, 0.11, 0.1, 0.28]"
12,charge_1,object,2404,9.30,621,"[39:4-127 IMPROPER BACKING, FAILURE TO EXHIBI..."
13,summons_1,object,2337,9.04,2231,"[0906-9-633085, 621116, S2020003303, E20000225..."
14,charge_2,object,1160,4.49,388,"[39 3 10, 39L4-97, 39:4-12G, LEAVING SCENE OF ..."
15,summons_2,object,1114,4.31,1084,"[MC-59668, 0909E20010218, 0908NBT056, 0906-9-6..."
16,charge_3,object,1059,4.10,355,"[39:3C-21, 39:4-144 FAILURE TO STOP YIELD, 39 ..."
17,summons_3,object,1042,4.03,1011,"[0906-9-635153, 636478, 636853, C321014, MC616..."
18,charge_4,object,458,1.77,216,"[39:4-81 DISREGARD OF TRAFFIC, 39:4-97, 39:3-7..."
19,summons_4,object,454,1.76,450,"[0714E20162836, 0906-9-634756, 638233, E200313..."
20,driver_physical_status_1,float64,0,0.00,0,[]
21,driver_physical_status_2,float64,188,0.73,11,"[2.0, 99.0, 6.0, 1.0, 3.0]"

# Occupants

In [38]:
data = pd.read_csv("data/2020Occupants.csv")

cols = []
for i,c in enumerate(data.columns):
    record = {"name": c}
    record["type"] = data.dtypes[i]
    record["count"] = data[c].count()
    record["filled_pct"] = round(100*record["count"]/data.shape[0],2)
    record["nunique"] = data[c].nunique()
    non_nulls = data.loc[~data[c].isnull(),c].drop_duplicates()
    non_nulls_n = len(non_nulls)
    if non_nulls_n:
        record["sample"] = non_nulls.sample(n=min(5,non_nulls_n)).tolist()
    else:
        record["sample"] = []
    cols.append(record)
pd.DataFrame(cols)

,name,type,count,filled_pct,nunique,sample
0,Unnamed: 0,int64,25930,100.00,25930,"[11224, 23273, 19157, 14380, 7662]"
1,id,object,25930,100.00,12040,"[20200907D030-2020-00341A, 2020090620-020150, ..."
2,vehicle_number,int64,25930,100.00,11,"[3, 6, 8, 10, 4]"
3,occupant_number,int64,25930,100.00,16,"[13, 9, 4, 7, 14]"
4,physical_condition,float64,12108,46.69,6,"[5.0, 3.0, 1.0, 4.0, 0.0]"
5,position_in_on_vehicle,float64,25467,98.21,13,"[7.0, 1.0, 9.0, 5.0, 11.0]"
6,ejection_code,float64,24340,93.87,5,"[3.0, 0.0, 1.0, 4.0, 2.0]"
7,age,object,24912,96.07,117,"[52, 23, 2, 57, 84]"
8,sex,object,24983,96.35,2,"[M, F]"
9,location_of_most_severe_injury,float64,2808,10.83,13,"[7.0, 4.0, 5.0, 6.0, 10.0]"
10,type_of_most_severe_phys_injury,float64,3718,14.34,9,"[1.0, 6.0, 8.0, 5.0, 3.0]"
11,refused_medical_attention,float64,20490,79.02,3,"[2.0, 0.0, 1.0]"
12,safety_equipment_available,float64,23918,92.24,14,"[5.0, 1.0, 9.0, 12.0, 2.0]"
13,safety_equipment_used,float64,22076,85.14,14,"[6.0, 0.0, 11.0, 7.0, 4.0]"
14,airbag_deployment,float64,1785,6.88,5,"[2.0, 3.0, 4.0, 0.0, 1.0]"

# Vehicles

In [40]:
data = pd.read_csv("data/2020Vehicles.csv")

cols = []
for i,c in enumerate(data.columns):
    record = {"name": c}
    record["type"] = data.dtypes[i]
    record["count"] = data[c].count()
    record["filled_pct"] = round(100*record["count"]/data.shape[0],2)
    record["nunique"] = data[c].nunique()
    non_nulls = data.loc[~data[c].isnull(),c].drop_duplicates()
    non_nulls_n = len(non_nulls)
    if non_nulls_n:
        record["sample"] = non_nulls.sample(n=min(5,non_nulls_n)).tolist()
    else:
        record["sample"] = []
    cols.append(record)
pd.DataFrame(cols)

C:\Users\yagne\AppData\Local\Temp\ipykernel_28368\3941504241.py:1: DtypeWarning: Columns (8,10,35) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv("data/2020Vehicles.csv")

,name,type,count,filled_pct,nunique,sample
0,Unnamed: 0,int64,25860,100.00,25860,"[10590, 13329, 22289, 18515, 21451]"
1,id,object,25854,99.98,13097,"[2020090720-24428, 202009012020-54806, 2020090..."
2,vehicle_number,float64,25854,99.98,11,"[8.0, 3.0, 2.0, 1.0, 4.0]"
3,insurance_company_code,float64,19892,76.92,776,"[655.0, 9999.0, 2063.0, 7112.0, 1669.0]"
4,owner_state,object,23507,90.90,50,"[TN, CT, NJ, AZ, NC]"
5,make_of_vehicle,object,24210,93.62,306,"[MER, LND, UTI, GEN, LAN]"
6,model_of_vehicle,object,23890,92.38,2690,"[INTERCEPTOR 3, HE, EX6, BE 2DSD, XPR]"
7,color_of_vehicle,object,22923,88.64,19,"[BL, BK, CL, YL, MN]"
8,year_of_vehicle,object,22446,86.80,90,"[2021, TN, 1977.0, RD, 1979.0]"
9,license_plate_state,object,24060,93.04,55,"[ND, 2019, IA, LA, MD]"
10,vehicle_weight_rating,object,1792,6.93,9,"[NY, 3, NJ, 2.0, FL]"
11,towed,float64,0,0.00,0,[]
12,removed_by,float64,20541,79.43,3,"[3.0, 2.0, 1.0]"
13,drivenleft_at_scenetowed,float64,23001,88.94,5,"[2.0, 3.0, 4.0, 1.0, 5.0]"
14,initial_impact_location,float64,24488,94.69,18,"[6.0, 1.0, 3.0, 15.0, 8.0]"
15,principal_damage_location,float64,23191,89.68,18,"[0.0, 7.0, 13.0, 3.0, 10.0]"
16,extent_of_damage,float64,24411,94.40,7,"[6.0, 12.0, 2.0, 4.0, 1.0]"
17,traffic_controls_present,float64,20103,77.74,16,"[10.0, 5.0, 1.0, 0.0, 7.0]"
18,vehicle_type,float64,24799,95.90,28,"[20.0, 29.0, 3.0, 26.0, 7.0]"
19,vehicle_use,float64,24384,94.29,7,"[4.0, 5.0, 3.0, 1.0, 2.0]"
20,special_function_vehicles,float64,3220,12.45,20,"[7.0, 3.0, 10.0, 12.0, 99.0]"
21,cargo_body_type,float64,4055,15.68,16,"[99.0, 7.0, 11.0, 0.0, 14.0]"
22,contributing_circumstances_1,float64,24230,93.70,47,"[49.0, 56.0, 17.0, 7.0, 1.0]"
23,contributing_circumstances_2,float64,3782,14.62,42,"[8.0, 9.0, 21.0, 0.0, 2.0]"
24,direction_of_travel,float64,24190,93.54,6,"[4.0, 1.0, 5.0, 0.0, 2.0]"
25,precrash_action,float64,25773,99.66,22,"[8.0, 7.0, 18.0, 29.0, 11.0]"
26,first_sequence_of_events,float64,25824,99.86,49,"[24.0, 7.0, 45.0, 4.0, 50.0]"
27,second_sequence_of_events,float64,2874,11.11,42,"[1.0, 22.0, 46.0, 9.0, 41.0]"
28,third_sequence_of_events,float64,953,3.69,35,"[57.0, 51.0, 30.0, 11.0, 69.0]"
29,fourth_sequence_of_events,float64,757,2.93,26,"[46.0, 56.0, 19.0, 62.0, 60.0]"
30,most_harmful_event,float64,20808,80.46,39,"[56.0, 29.0, 12.0, 52.0, 59.0]"
31,oversizeoverweight_permit,float64,5433,21.01,4,"[26.0, 1.0, 0.0, 2.0]"
32,hazmat_status,object,447,1.73,4,"[N, O, S, 02]"
33,hazmat_class,object,1232,4.76,10,"[2, N, 4, 9, 3]"
34,hazmat_placard,float64,6,0.02,5,"[2.0, 1203.0, 3082.0, 1993.0, 1917.0]"
35,usdot_number,object,1055,4.08,835,"[2464300.0, 3390836.0, 2318931.0, 3113376, 920..."
36,mcmx_number,float64,160,0.62,148,"[535255.0, 1032399.0, 63360.0, 30223.0, 599244.0]"
37,usdot__other_flag,float64,0,0.00,0,[]
38,usdot__other_number,float64,0,0.00,0,[]
39,carrier_name,object,1190,4.60,895,"[HILCO TRANSPORT INC, RYDER TRUCK RENTAL COMPA..."
40,hit__run_driver_flag,object,2511,9.71,1,[Y]